.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2rem;
}

.cards figure {
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
}

.cards img {
  max-width: 100%;
}

.cards figcaption {
  text-align: center;
}
